{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}
{% block stylesheet %}
{{ parent() }}
    {{ encore_entry_link_tags('index') }}
{% endblock %}
{% block body %}


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <app></app>
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/app/src/Controller/PageController.php'|file_link(0) }}">src/Controller/PageController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/app/templates/page/index.html.twig'|file_link(0) }}">templates/page/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
